@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script|Rochester');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.cursive {
  font-family: 'Pinyon Script', cursive;
}
.sans {
  font-family: 'Open Sans', sans-serif;
}
.pm-certificate-container {
  /* background: #618597; */
  background-image: url('https://img.freepik.com/free-vector/vintage-ornamental-frame-beige-background_53876-116244.jpg?t=st=1687957698~exp=1687958298~hmac=fd17a3eebcc8114ba556db4423c8d34da69c2fba6dc066f2aa0b263c668eddb4');
}
.pm-certificate-header {
  font-size: xx-large;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.coverform .form-group {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  @apply font-bold;
  text-transform: capitalize;
  flex-wrap: wrap;
}
.coverform .form-control {
  padding: 5px;
  @apply bg-pink-100 border-2 border-pink-600;
}
button.primary {
  @apply bg-blue-300 text-white p-2 m-2;
}
p {
  @apply leading-8;
}
.pagetitle {
  font-size: 3rem;
  @apply font-bold text-blue-500;
}
.subtitle {
  font-size: 2rem;
  @apply font-bold text-blue-500;
}
.subtitle-2 {
  font-size: 1.5rem;
  @apply font-bold text-blue-500;
}
ul li {
  @apply p-2;
}
